*{
    margin: 0;
    padding: 0;
}
.box{
    position: -webkit-sticky;
    position: sticky;
    top:200px;
    margin:10px 0 15px 0;    /* background-image: url(bg.jpg); */
    background-color: aqua;
    
}
#nav
{
    background-color: blue;
    color: wheat;
    padding:10px 25px 10px 25px;
}
.red{
    margin-top: 15px;
    background-color: red;
    color: white;
    height:50vh;
}
