
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blue;
    height: 50px;
}
.nav{
    background-color: red;
    height: 0.5vh;
    animation :2s slidein 1;
}

.content{
    background-color: black;
    height: 100vh;

}
.content >img{
    margin: 3rem;
    animation : rotate 2s ease-out infinite;

}

.ro{
    width: 100px;
}

.slider {
    width: 100vw;
    height: 80vh;
    background-color: aliceblue;
}
img{
    margin:auto;
    width: 80vw;
    overflow: hidden;
}

@keyframe slider {

}

@keyframes slidein{
    from {
        width :0vw;
    }
    to {
        width:100vw;
        
    }


}

@keyframes rotate {
    to{
        
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
    
}


